<section class="custom-input datepicker">
  <mat-form-field
    [ngClass]="{ 'custom-input__error': form.get(formControlName)?.errors }"
  >
    <mat-label>{{ label }}</mat-label>
    <!-- <mat-label>{{ label | translate }}</mat-label> -->
    <div class="datepicker-container" [ngClass]="{ 'has-time': hasTime }">
      <input
        matInput
        [formControl]="formControl"
        [matDatepicker]="datepicker"
        (dateChange)="onInput()"
        [required]="required"
        [min]="minDate"
        [max]="maxDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </div>
    <div *ngIf="hasTime">
      <input
        matInput
        [formControl]="formControlTime"
        (input)="onInput()"
        type="time"
        [required]="required"
      />
    </div>
    <div
      class="mat-error"
      *ngIf="
        !formControl.untouched &&
        form?.get(formControlName)?.errors?.['required']
      "
    >
      {{ 'shared.requiredField' }}
      <!-- {{ 'shared.requiredField' | translate }} -->
    </div>
  </mat-form-field>
</section>
