<div role="main">
  <h5>userSelected: {{ userSelected()?.name }}</h5>
  <br />
  <br />
  <h1>Resource api:</h1>
  <ul>
    @for (result of userResource.value()?.results; track result.name) {
      <li>
        Name: {{ result.name }} - Height: {{ result.height }}cm
        <button (click)="selectUser(result)">Select User</button>
      </li>
    }
  </ul>
  <br />
  <br />
  <h1>Tanstack Index</h1>
  <ul>
    @for (user of users.data()?.results; track user.name) {
      <li>
        Name: {{ user.name }} - Height: {{ user.height }}cm
        <button (click)="selectUser(user)">Select User</button>
      </li>
    }
  </ul>
  <br />
  <br />
  <h1>Child Component</h1>
  <app-change-detector [title]="userSelected()?.name || ''" />
</div>
