<div role="main" class="container-global">
  <h1>Hydration Index</h1>
  <app-book>
    <!-- <app-collapse
      #contentChildren
      [expanded]="expanded()"
      (handleClose)="expanded.set(false)"
      (handleOpen)="expanded.set(true)"
    />
    <app-collapse
      #contentChildren
      [expanded]="!expanded()"
      (handleClose)="expanded.set(true)"
      (handleOpen)="expanded.set(false)"
    />
    <app-collapse
      #contentChildren
      [expanded]="!expanded()"
      (handleClose)="expanded.set(true)"
      (handleOpen)="expanded.set(false)"
    /> -->
    <app-collapse #contentChildren />
    <app-collapse #contentChildren />
    <app-collapse #contentChildren />
  </app-book>

  <br />
  <br />

  <!-- El panel de filtros se hidrata cuando aparece en pantalla -->
  @defer (hydrate on viewport) {
    <!-- <app-filtros /> -->
    <p>Hydration viewport</p>
  }

  <!-- La lista se hidrata inmediatamente -->
  <!-- <app-lista-productos /> -->
  <p>Hydration normal</p>

  <!-- El carrito se hidrata cuando el usuario interactúa -->
  @defer (hydrate on interaction) {
    <!-- <app-carrito /> -->
    <p>Hydration interaction</p>
    <app-change-detector title="Hydration interaction" />
  }
</div>
