<section class="home-index">
  <h1>Home</h1>
  <form [formGroup]="form" novalidate>
    <app-input
      [form]="form"
      label="Nombre"
      formControlName="name"
      [required]="true"
    />
    <!-- <app-input-number
      [form]="form"
      label="Edad"
      formControlName="age"
      [required]="true"
    >
    </app-input-number>
    <app-select
      [form]="form"
      label="Idioma"
      formControlName="language"
      [values]="languages"
      [required]="true"
    >
    </app-select>
    <app-datepicker
      [form]="form"
      label="Fecha"
      formControlName="date"
      [required]="true"
    >
    </app-datepicker>
    <app-file-uploader
      [form]="form"
      label="Subir archivo"
      formControlName="fileUploader"
    ></app-file-uploader>
    <app-toggle
      [form]="form"
      label="Esta Activo"
      formControlName="toggle"
    ></app-toggle>
    <app-radio-button
      [form]="form"
      label="Genero"
      formControlName="gender"
      [options]="optionsRadioGroup"
      [required]="true"
    ></app-radio-button>
    <br /> -->
    {{ form.value | json }}
  </form>
</section>
