<mat-toolbar class="header-container">
  <div class="header-container__menu-icon">
    <button mat-icon-button (click)="setOpenMenu.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="spacer"></div>
  <button
    class="header-container__button"
    type="button"
    (click)="changeLanguage('es')"
  >
    {{ 'SHARED.SPANISH' | translate }}
  </button>
  <button
    class="header-container__button"
    type="button"
    (click)="changeLanguage('en')"
  >
    {{ 'SHARED.ENGLISH' | translate }}
  </button>
</mat-toolbar>
