/* 480px; */
$screen-xs: 30rem;

/* 768px; */
$screen-sm: 48rem;

/* 1024px */
$screen-md: 64rem;

/* 1080px */
$screen-m: 67.5rem;

/* 1280px */
$screen-l: 80rem;

/* 1366px */
$screen-lg: 85.375rem;

/* 1920px */
$screen-xlg: 120rem;
