<div role="main">
  <h1>Pipes</h1>
  <h1>{{ 'SHARED.ENGLISH' | translate }}</h1>
  <br />
  {{ todayDay | dateFormat }}
  <br />
  <br />
  {{ today | date }}
  <br />
  <br />
  {{ currency | currency }}
  <br />
  <br />
  {{ currency | currency: 'en-EN' : '$' }}
  <br />
  <br />
  {{ currency | number: '3.2-2' }}
  <br />
  <br />
  {{ currency | number: '3.2-3' }}
  <br />
  <br />
  volume:{{ volume() }}
  <br />
  <br />
  INITIAL:{{ initialCount }}
  <input type="number" [(ngModel)]="initialCount" />
  <br />
  <br />
  <app-change-detector
    [(count)]="initialCount"
    [user]="user()"
    [volume]="volume()"
  >
    <p>This is ng content paragraph</p>
  </app-change-detector>
  <button (click)="changeName()">changeName</button>
</div>
