<header class="app-header">
  <app-header (setOpenMenu)="setOpenMenu()"></app-header>
</header>

<main class="app-main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Hydration</a></li>
          <li>
            <a routerLink="/example" routerLinkActive="active">Example</a>
          </li>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
