$height-header: 4.375rem;

.app-header {
  height: $height-header;
}

.app-main {
  height: calc(100vh - #{$height-header});

  .sidenav {
    background: grey;
    border-radius: 0;
    width: 250px;
  }

  nav {
    li {
      padding: 0.625rem;
    }
  }

  .mat-drawer-container {
    height: 100%;
  }
}
